input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}


.exp-icon-wrapper > svg {
    cursor: pointer;
    transition: transform 200ms;
}

.exp-icon-wrapper > svg:hover {
    transform: scale(1.1);
    opacity: 0.9;
}